@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap');
body {
    font-family: 'Comfortaa', sans-serif;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
}
.file{
    width:40%;
    background:rgba(255, 255, 255, 0.2);
    font-family: 'Comfortaa', sans-serif;
}

.mainPage {
    background-image: url("https://cdn.discordapp.com/attachments/1150455788838596628/1152707160736809100/3426116__1_-removebg.png");
    background-size: cover;
    background-position: center;
    background-color:rgba(157, 166, 83);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
}
.mainPageList {
    background-color:rgba(177, 186, 103);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    top:0;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    font-family: 'Comfortaa', sans-serif;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(10, 148, 81);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-family: 'Comfortaa', sans-serif;
}
.submitFoods{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(10, 148, 81);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-family: 'Comfortaa', sans-serif;
}

input[type="submit"]:hover {
    background-color: rgba(60, 198, 131);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 58%;
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom:30px;
    background-color: white;
}

th, td {
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
}

th {
    background-color: #333;
    color: white;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}
.logo{
    width:50%;
    margin-bottom:60px;
    border-radius:50px;
    box-shadow: 0 0 10px 10px rgba(157, 166, 83);
}
.top{
    position:fixed;
    top:0;
    left:75%;
    height:10%;
    margin-top:3%;
    color:white;
    z-index:1;
}
.foodListBut{
    color:white;
    font-family: 'Comfortaa', sans-serif;
    font-size:25px;
    z-index:1;
}
.foodListButt{
    color:white;
    font-family: 'Comfortaa', sans-serif;
    font-size:25px;
    margin-top:20px;
    margin-bottom:20px;
}
.footer{
    margin-top:40px;
    margin-bottom:20px;
    background-color:rgba(0,  0, 0, 0.3);
    padding:15px;
    border-radius:30px;
}
.overlay{
    position:fixed;
    width:100%;
    left:0;
    opacity:0.2;
    z-index:1;
}
.fileUpload {
    background: rgba(255, 255, 255, 0.7);
    border: none; /* Add this to remove the default input border */
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    display:block;
    font-family: 'Comfortaa', sans-serif;
}
.confirm{
    font-family: 'Comfortaa', sans-serif;
    color:white;
    margin-right:15px;
    margin-left:15px;

}
.confirmBox{
    background-color:rgba(157, 166, 83);
    box-shadow: 0 0 10px 10px rgba(157, 166, 83);
    margin-bottom:20px;
}
.uploadPhoto{
    background-color: rgb(10, 148, 81);
    border-radius:10px;
    padding:10px;
    color:white;
    font-family: 'Comfortaa', sans-serif;
    margin-bottom:50px;
    margin-right:20px;
    margin-left:20px;

}
.twobuttons{
    display:flex;
    justify-content:center;
}
.receiptText{
    font-family: 'Comfortaa', sans-serif;
}
.sideBackgroundLeft{
    position:fixed;
    background-image:url("https://cdn.discordapp.com/attachments/1150455788838596628/1152707160736809100/3426116__1_-removebg.png");
    height:100vh;
    left:0;
    top:0;
    width:19%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:rgba(157, 166, 83);
    z-index: 100;
}
.sideBackgroundRight{
    position:fixed;
    background-image:url("https://cdn.discordapp.com/attachments/1150455788838596628/1152737397830848616/image_19.png");
    height:100vh;
    right:0;
    top:0;
    width:19%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:rgba(157, 166, 83);
    z-index:100;
}
.foodList{
    margin-top:50px;
    font-family: 'Comfortaa', sans-serif;
    font-size:45px;
    color:#333
}
.mainPageBack{
    background-color:rgb(157, 166, 83);
    box-shadow: 0 0 10px 10px rgba(157, 166, 83);
    margin-right:10px;
    margin-left:10px;
    margin-bottom:10px;
}

.recipeHolder{ 
/* keep the recipie holder div's content centered on it, and keep its width to the centered 60% */
    margin: 0 auto;
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}