<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="mainPage">
        <div class="mainPageBack">
            <h1 class="confirm">Confirm reciept recognition</h1>
        <img src="{{url_for('get_temp_receipt') }}" alt="temp_image.jpg" height=500>
        <p class="confirm">Edit the food name in the box below if it's incorrect.</p>
        </div>
        
        <form action="/add_food_bulk" method="POST">
            <textarea class="receiptText" id="reciept_list" name="reciept_list" required>{{reciept_text}}</textarea>
            <input type="submit" value="Confirm">
        </form>
    </div>
    
</body>
</html>