<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="mainPage">
        <h2>PreserVia.tech</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <br>
            <input type="submit" value="Upload Food Image">
        </form>
    </div>
    
</body>
</html>