<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <img src="" class="overlay">
    <div class="mainPage">
        <div class="top">
            <a class="foodListBut" href="{{ url_for('food_list') }}">Take me to the <strong>Food List</strong></a>
        </div>
        <img class="logo"src="https://cdn.discordapp.com/attachments/1150455788838596628/1152696969949618337/image.png">
        
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="image" accept="image/*" required class="fileUpload">
                <input type="submit" value="Submit Food Image">
            </form>
    </div>
    
</body>
</html>