<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Food List</title>
</head>
<script>
    function disableSubmitButton() {
        var foodNameInput = document.getElementsByName('food_name')[0].value;
        console.log(document.getElementsByName('food_name'))
        // Check if the input field is not empty
        if (foodNameInput.value.trim() !== null) { 
            // Disable the button
            document.getElementById('submitButton').setAttribute('disabled', 'disabled');
            
            // Submit the form
            document.getElementById('addFoodForm').submit();
        } else {
            // Optionally, you can display an alert or message to inform the user
            alert('Please enter a food name before submitting.');
        }
    }
</script>
<body>
    <div class="mainPageList">
        <div class="foodListBG">
            <h1 class="foodList"><strong>Food List</strong></h1>
        </div>
        
        <div class="sideBackgroundLeft"></div>
        <div class="sideBackgroundRight"></div>
        <div class="twobuttons">
            <form id="uploadForm" action="/upload" method="get">
                <button class="uploadPhoto" type="submit">Add content</button>
            </form>
            <form id="foodListForm" action="/auto_recipie" method="post">
                <input type="hidden" name="selectedFoodsInput" id="selectedFoodsInput" value="">
                <button class="uploadPhoto" type="submit">Recipe From Selected Foods</button>
            </form>
        </div>
        
    
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Days Until Expiry</th>
                    <th>Delete Item</th>
                    <th>Re-estimate Expiry</th>
                    <th>Add in Recipe</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ expiry_text(item.id) }}</td>
                    <td><a href="{{ url_for('delete_item', item_id=item.id) }}">Delete Item</a></td>
                    <td><a href="{{ url_for('recalculate_expiry', item_id=item.id) }}">Re-estimate</a></td>
                    <td><input type="checkbox" class="food-checkbox" data-food-name="{{ item.name }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

    <script>
        function updateSelectedFoods() {
            var selectedFoods = [];
            var checkboxes = document.querySelectorAll('.food-checkbox:checked');
            checkboxes.forEach(function (checkbox) {
                selectedFoods.push(checkbox.getAttribute('data-food-name'));
            });
            document.getElementById('selectedFoodsInput').value = JSON.stringify(selectedFoods);
        }
        
        // Add event listener to checkboxes
        var foodCheckboxes = document.querySelectorAll('.food-checkbox');
        foodCheckboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                updateSelectedFoods();
            });
        });

        function submitSelectedFoods() {
            // Submit the form with the selected foods
            document.getElementById('foodListForm').submit();
        }
    </script>
</body>

</html> 