<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>


    <div class="mainPageList">
        <h1 class="foodList"><strong>Recipe</strong></h1>
        <div class="recipeHolder">
            {{recipe}}
        </div>
        <div class="footer">
            <a class="foodListButt" href="/">Take me to the <strong>Food List</strong></a>
        </div>

    </div>

    <div class="sideBackgroundLeft"></div>
    <div class="sideBackgroundRight"></div>
</body>