<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <img src="" class="overlay">
    <div class="mainPage">
        <div class="top">
            <a class="foodListBut" href="/">Take me to the <strong>Food List</strong></a>
        </div>
        <img class="logo"src="{{ url_for('static', filename='logo.png') }}">
        <div class="mainPageBack">
            <h2 class="foodListBut">Manually add food</h2>
        <form method="POST" action="/" id="addFoodForm">
            <input type="text" name="food_name" placeholder="Enter Food Name" required>
            <input type="submit" name="add_food_button" value="Add Food" id="addFoodButton" onclick="disableSubmitButton()">
        </form>
        <h2 class="foodListBut">Upload food photo</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required class="fileUpload">
            <input type="submit" value="Submit Food Image">
        </form>
        <h2 class="foodListBut">Upload reciept</h2>
        <form action="/upload-receipt" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required class="fileUpload">
            <input type="submit" value="Submit Receipt">
        </form>
        </div>
        

    </div>
    
</body>
</html>